* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #E0E0E0;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	opacity: 70%;
}
ul {
	list-style: none;
}
nav {
	padding: 10px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	background-color: #d2d2d2;
}
nav h2 {
	line-height: 40px;
}
#navRight {
	display: flex;
}
.navItem {
	height: 2em;
	margin-left: 5px;
	padding: 0 10px;
	line-height: 40px;
	color: black;
}
#navUploadButton {
	height: 40px;
	border-radius: 3px;
	background-color: rgb(57, 165, 183);
	color: #282828;
}
#content {
	margin: auto;
	margin-top: 5vh;
	padding: 0 20px;
	width: 90vw;
	max-width: 700px;
}
#homeTitle {
	margin:auto;
	margin-top: 15vh;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}
#homeDescription {
	text-align: center;
	width: 90vw;
	max-width: 500px;
	margin: auto;
	margin-top: 2vh;
}
#homeForm {
	margin:auto;
	margin-top: 10vh;
	max-width: 500px;
	display: flex;
}
#schoolSelect, #courseSelect {
	margin-right: 10px;
}
.pageTitle {
	margin-bottom: 10px;
}
li {
	width: 100%;
}
.listLink p {
	background-color: #d2d2d2;
	padding: 5px 10px;
	border-radius: 3px;
	margin-bottom: 3px;
}
.listLink p:hover {
	background-color: #b2b2b2;
}
