{% extends "layout.html" %}
{% block content %}
<h1 id="homeTitle">Look Before You Leap</h1>
<p id="homeDescription">Find the syllabus for your next class so that you can choose the right course and instructor and know what to expect <i>before</i> you start</p>
<form id='homeForm'>
	<div>
		<label>School:</label>
		<select name="school" id="schoolSelect">
			<option value="-1" selected>Select School...</option>
			{% for school in schools %}
				<option value="{{ school.name }}">{{ school.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<label>Course:</label>
		<select name="course" disabled id="courseSelect">
			<option value="0">Select School First</option>
		</select>
	</div>
	<input type="submit" value="Find"/>
</form>
<script>
	document.getElementById("homeForm").addEventListener('submit', (e) => {
		e.preventDefault();
		e.stopPropagation();
		if (document.getElementById("schoolSelect").value === '-1') return;
		let school = document.getElementById("schoolSelect").value.split(' ').join('+');
		let course = document.getElementById("courseSelect").value.split(' ').join('+'); 
		window.location.assign(`/${school}/${course}`);
		
	});
	const courseSelect = document.getElementById('courseSelect');
	function loadCourses() {
		if (document.getElementById("schoolSelect").value === '-1') {
			courseSelect.setAttribute("disabled", "");
			return;
		}
		let xhr = new XMLHttpRequest();
		xhr.open("GET", `/getCourses/${document.getElementById("schoolSelect").value}`, false);
		xhr.onload = () => {
			courseSelect.innerHTML = "";
			let data = JSON.parse(xhr.response);
			data.unshift({id:-1, name: "All Courses"})
			data.forEach((item) => {
				let option = document.createElement('option');
				option.setAttribute('value', item.name);
				option.innerHTML = item.name;
				courseSelect.appendChild(option);
			})
			courseSelect.removeAttribute("disabled");
		}
		xhr.send();
	}
	document.getElementById("schoolSelect").onchange = () => { loadCourses(); }
	if (document.getElementById("schoolSelect").value !== -1) loadCourses();
</script>

{% endblock content %}
