<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Syllabus Share</title>
	<meta name="description" content="Share your syllabi">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<script>function $(i) {document.getElementById(i)};</script>
	<nav>
		<a href="/"><h2>Syllabus Share</h2></a>
		<div id='navRight'>
			<a href="/" class="navItem navLink">School List</a>
			<a href="/upload" id="navUploadButton" class="navItem">Upload</a>
		</div>
	</nav>
	<div id="content">
		{% block content %}
	    	{% endblock %}
	</div>
</body>
